*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
.name
checkstyle-idea.xml
codeStyles/
compiler.xml
gradle.xml
jarRepositories.xml
misc.xml
uiDesigner.xml
vcs.xml
